<div class="main-wrap">
<nav class="topbar">
  <div class="ticket-sort">
    <i class="fa-solid fa-filter sortIcon"></i>
    All tickets
  </div>
  <div class="ticket-search">
    <button class="add-a-new">
      <i class="fa-regular fa-square-plus plusBtn"></i>
      New
      <i class="fa-solid fa-angle-down"></i>
    </button>
    <hr class="btn-seperator">
    <ul class="topbar-ul">
      <li  class="topbar-li">
        <!-- <i class="fa-solid fa-magnifying-glass searchIcon"></i> -->
        <input type="text" placeholder="Search" class="search-input">
      </li>
      <li class="topbar-li">
        <i class="fa-solid fa-bell"></i>
      </li>
    </ul>
    <div class="avatar">N</div>
  </div>

</nav>
</div>
