<app-ticket-navbar></app-ticket-navbar>

<app-sidebar></app-sidebar>

<div class="main-wrap">

  <app-notifications [text]="text" (buttonClicked)="notificationClosed($event)" [showNotification]="showNotification"></app-notifications>
  <app-title [icon]="sectionIcon" [text]="sectionTitle"></app-title>

  <div class="top-opt-sec">
    <button class="reply-btn"><i class="bi bi-arrow-90deg-left"></i>Reply</button>
    <button class="forward-btn"><i class="bi bi-arrow-90deg-right"></i>Forward</button>
    <button class="close-btn"><i class="bi bi-check2-circle"></i>Close</button>
    <button class="delete-btn"><i class="bi bi-trash"></i>Delete</button>
  </div>

  <div class="main-sec">

    <div class="left-msg-side">

      <span>{{ticket?.ticketId}}<i class="fa-solid fa-angle-right right-arrow"></i><span class="status-header">{{ticket?.status}}</span></span>

      <hr>

      <h1 class="new-msg-header"><i class="bi bi-envelope"></i> New customer message</h1>
      <small>({{ticket?.createdAt | date: 'MMM d, y, h:mm:ss a'}})</small>

  <table class="table table-striped myTable">
    <h5 class="msg-header">You received a new message from your companies contact form.</h5>
    <hr>
  <tbody class="mytbody">
    <tr class="mytr">
      <td class="mytd">
        <div>
          <b>Name:</b>
        <p>test</p>
        </div>
        <div>
          <b>Email:</b>
        <p>test@gmail.com</p>
        </div>
        <div>
          <b>Phone:</b>
        <p>5454545454</p>
        </div>
        <div>
          <b>Message:</b>
        <p>{{ticket?.message}}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

    </div>


    <div class="right-filter-side">
      <form [formGroup]="editStatusesForm" (ngSubmit)="OnSubmit()">
        <div class="filter-divs">
          <label for="">Agent</label>
        <select formControlName="agent">
          <option>-</option>
          <option *ngFor="let agent of agents">{{agent}}</option>
        </select>
        </div>
        <div class="filter-divs">
          <label for="">Status</label>
        <select formControlName="status">
          <option>-</option>
          <option *ngFor="let status of statusOptions">{{status}}</option>
        </select>
        </div>
        <div class="filter-divs">
          <label for="">Priority</label>
        <select formControlName="priority">
          <option>-</option>
          <option *ngFor="let priority of priorityOptions">{{priority}}</option>
        </select>
        </div>
        <div class="update-btn-wrap">
        <button [disabled]="editStatusesForm.invalid" class="update-btn" type="submit">Update</button>
        </div>
      </form>
    </div>

  </div>

</div>
