<app-ticket-navbar></app-ticket-navbar>

<app-sidebar></app-sidebar>

<div class="main-wrap">

  <app-title [icon]="sectionIcon" [text]="sectionTitle"></app-title>

  <div class="tickets-sec">
    <table class="table table-hover">
      <thead class="thead">
        <th>Ticket ID</th>
        <th>Subject</th>
        <th>Created At</th>
        <th>Agent</th>
        <th>Priority</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">

          <td ><a routerLink="/selectedTicket/{{ticket._id}}" class="ticket-link">{{ticket.ticketId}}</a></td>
          <td ><a routerLink="/selectedTicket/{{ticket._id}}" class="ticket-link">{{ticket.subject}}</a></td>
          <td >{{ticket.createdAt | date: 'MMM d, y, h:mm:ss a'}}</td>
          <td >
            {{ticket.agent}}
          </td>
          <td [ngClass]="priorityCss(ticket)">
            {{ticket.priority}}
          </td>
          <td>
            {{ticket.status}}
          </td>
        </tr>
      </tbody>
  </table>
  <div class="filter-sec">
    <span>FILTERS</span>
     <div class="filter-divs">
          <label for="">Agent</label>
        <select class="filter-select">
          <option>-</option>
          <option *ngFor="let agent of agents">{{agent}}</option>
        </select>
        </div>
        <div class="filter-divs">
          <label for="">Status</label>
        <select class="filter-select" >
          <option>-</option>
          <option *ngFor="let status of statusOptions">{{status}}</option>
        </select>
        </div>
        <div class="filter-divs">
          <label for="">Priority</label>
        <select class="filter-select" >
          <option>-</option>
          <option  *ngFor="let priority of priorityOptions">{{priority}}</option>
        </select>
        </div>
        <div class="update-btn-wrap">
        <button class="update-btn" type="submit">Update</button>
        </div>
  </div>
</div>

</div>


