<div class="dash-info-wrap">

<div class="info-wrap">
  <table class="table table-hover">
    <thead class="thead">
      <th>All customers</th>
    </thead>
    <tbody >
      <tr>
        <td class="myTd">Total customers <span>{{customers.length}}</span></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="info-wrap">
  <table class="table table-hover">
    <thead class="thead">
      <th>Available employees</th>
    </thead>
    <tbody >
      <tr>
        <td class="myTd">Admins <span>2</span></td>
      </tr>
      <tr>
        <td class="myTd">Employees <span>{{employees.length}}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="info-wrap">
  <table class="table table-hover">
    <thead class="thead">
      <th>All tickets</th>
    </thead>
    <tbody >
      <tr>
        <td class="myTd">Total tickets <span>{{tickets.length}}</span></td>
      </tr>

    </tbody>
  </table>
</div>

</div>
